<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/about.css' %}">

    <link rel="icon" type="image/x-icon" href="{% static 'image/logom.png' %}">
    <title>About</title>
</head>
<body>
  <div class="about-section">
    <h1>About Us Page</h1>
    <p>Our mission develope a new and creative visiting card for you and make your meeting more attractive for your client.</p>
    <p>Get a successfull deal by your visiting card.</p>
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  
    <div class="column">
      <div class="card">
        <!-- <img src="/w3images/team1.jpg" alt="Gaurav" style="width:100%"> -->
        <div class="container">
          <h2>Gaurav Sonone</h2>
          <p class="title">CEO & Founder</p>
          <p>The Chief Executive Officer (CEO) is the highest-ranking executive of any company. They are responsible for ensuring that the business operates at a profit and meets its goals.</p>
          <p>gauravsonone7058@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <!-- <img src="{% static '' %}" alt="Sushil" style="width:100%"> -->
        <div class="container">
          <h2>Sushil Bavaskar</h2>
          <p class="title">Designer</p>
          <p>A designer always has an extremely creative mind that can absorb visual trends and deploy them in fresh and exciting ways.</p><br>
          <p>sushilibavaskar@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <!-- <img src="/w3images/team3.jpg" alt="Shrikrushna" style="width:100%"> -->
        <div class="container">
          <h2>Shrikrushna Tekade</h2>
          <p class="title">Developer</p>
          <p>A Software Developer serves as a member of the software development team. They aid in the innovation and creation of company software and programs.</p><br>
          <p>shrikrushnatekade8@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
    
    <div class="column">
      <div class="card">
        <!-- <img src="/w3images/team3.jpg" alt="Krushnakant" style="width:100%"> -->
        <div class="container">
          <h2>Krushnakant Patil</h2>
          <p class="title">Art Director</p>
          <p>An Art Director is a professional who is in charge of developing and maintaining a creative vision that speaks to the reader, viewer, or user.</p><br>
          <p>krushnakantpatil456@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>
    
</body>
</html>